header .header{
    background-color: red;
    color: white;
}

header .header div{
    text-align: center;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

nav.navbar img{
    width: 72px;
}

header#carouselExampleCaptions.carousel.slide div.carousel-inner{
    height: 90vh;
}

div.carousel-inner{
    height: 90vh;
}

.carousel-item .d-block.w-100{
    height: 80vh;
}

.card-deck{
    margin: 24px;
}

div.modal-body label{
    display: block;
}

footer .footer-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 22px;
}

h4{
    margin: 10px;
}

h6{
    margin: 20px 0 0 0;
}

i{
    margin: 0 5px;
}

footer section{
    margin: 16px;
}

footer section p{
    font-size: 16px;
    margin-bottom: 8px;
}

footer section a{
    text-decoration: none;
    color: white;
}

footer section i{
    cursor: pointer;
}

footer section button{
    margin: 1px solid white;
    color:white;
    background-color: transparent;
    font-weight: bold;
  padding: 0.75rem 1.75rem;
  margin-top: 1rem;
  border-radius: 5px;
}

footer section button:hover{
    color:red;
    background-color: white;
    cursor: pointer;
}

